---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import { fetchApi, fetchAsset } from '../lib/strapi';

const content = await fetchApi<About>({
  endpoint: 'about?populate=*', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{content.Title}</Fragment>
      <Fragment slot="desc">{content.Subtitle}</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        {content.Content}
      </p>
      <div class="flex flex-row mx-auto max-w-4xl mt-16">
        {
          content.Images.map((i) => 
            <img src={fetchAsset(i.url)} height="500rem" width="500rem" />)
        }
      </div>
    </div>
  </Container>
</Layout>
