---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Lorem ipsum dolor sit amet
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed consectetur lacus, at interdum neque. Duis bibendum nisl a vestibulum facilisis. Phasellus ultrices pulvinar dolor. Phasellus ornare molestie felis, fringilla molestie leo. Nulla condimentum massa nec feugiat varius. Vestibulum ac enim malesuada, iaculis dolor quis, sollicitudin ligula. Proin imperdiet viverra tellus eu suscipit.
      </p>
    </div>
  </Container>
</Layout>
