---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.png";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Lorem ipsum dolor sit amet
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed consectetur lacus, at interdum neque. Duis bibendum nisl a vestibulum facilisis. Phasellus ultrices pulvinar dolor. Phasellus ornare molestie felis, fringilla molestie leo. Nulla condimentum massa nec feugiat varius. Vestibulum ac enim malesuada, iaculis dolor quis, sollicitudin ligula. Proin imperdiet viverra tellus eu suscipit.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Get in touch
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/about"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        About us
      </Link>
    </div>
  </div>
</main>
